/* LandingPage.css */


.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Set width to cover the entire viewport width */
    height: 100vh; /* Set height to cover the entire viewport height */
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
  }
  
  
  .navbar {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); 
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  
  
  .navbar-brand {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .content {
    text-align: center; /* This centers the text horizontally */
    margin-top: 50px; /* Adjust this margin as needed */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 1.2em;
  }
  