.navbar {
    background-color: transparent;
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    left:700px;
    width: 100%; /* Set the width to 100% */
  height: 60px; 
  }
  .auth-buttons a {
    text-decoration: none;
    color: white;

    border-radius: 4px;
  }
  .navbar-brand {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-brand a {
    color: black; /* Set link color */
    margin-left: 10px; /* Add space between links */
    text-decoration: none; /* Remove underline */
  }
  
  .navbar-brand a:hover {
    color: lightgray; /* Change link color on hover */
  }
  